# Build and dependencies
dist/
node_modules/
build/
*.min.js

# Generated / lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Electron builder
out/

# Coverage and cache
coverage/
.vite/
.cache/
